
body {
  margin: 0;
  padding: 0;
}
nav {
  display: block;
  background-color: #ff0000;
  width: 100%;
  padding: 10px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  padding:15px;
  margin:10px;
}
nav a {
  color: white;
  font-size:1.5em;
  text-decoration: none;
}
nav li:hover {
  background-color: black;
}
